@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background: #24252A;
}
.logo{
    cursor: pointer;
    border-radius: 50%;
    width: 100px;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: #0088a9;
}
.card-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    color: #000000;
    border: 1px solid #000000;
}
.card-body{
    display: inline-block;
    width: 50rem;
    height: 10rem;
}
.card-title{
    color: #000000;
    border: 1px solid #000000;
    font-family: "Montserrat", sans-serif;
}
.card-text{
    font-family: "Montserrat", sans-serif;
    color:#000000;
}
.card-btn{
    color: #000000;
    border: 1px solid #000000;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#000000;
}
.create-title{

    font-family: "Montserrat", sans-serif;

    font-size: 16px;
}
.create-text{
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    font-size: 10px;

}